<div>

    <a href="/movies">Go back</a>

    <img src="{{details.image}}" />

   <h1>{{details.title}}</h1> 

    <p>
        {{details.director}}
        {{details.stars}}
        {{details.description}}
        {{details.showtimes}}
    </p>



</div>